@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #ea580c;
    --darkgreen: #27422b;
    --lightgreen: #477753;
    --vintage: #F2E3DB;
}

a {
    text-decoration: none !important;
}

* {
    margin: 0 ;
    padding: 0 ;
    font-family: "../../public/fonts/Raleway-VariableFont_wght.ttf";
}

.left-side {
    background-image: url("../../public/img/Welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out !important;
}

.right {
    transform: translateX(100%) !important;

}
.overlaypanel {
    transition: transform 1s ease-in-out !important;
}
.signpanel {
    transition: transform 1s ease-in-out !important;
}

.signIN-style {
    transform: translateX(20%);
    animation: opacity-change 0.5s ease-in-out forwards  !important;
}

.signUp-style {
    transform: translateX(-20%);
    animation: opacity-change 0.5s ease-in-out forwards  !important;
}


.in{
    transform: translateX(150%);
    animation: opacity-change 0.5s ease-in-out forwards  !important;

}

.up{
    transform: translateX(138%);
    animation: opacity-change 0.5s ease-in-out forwards  !important;

}

@keyframes opacity-change {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.landing{
    background-image: url("../../public/img/landingBackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80% ;
}


 /*! section 3 */
.distination{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80% ;
}
/*& search*/
