@tailwind base;
@tailwind components;
@tailwind utilities;



a {
    text-decoration: none !important;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.left-side {
    background-image: url("../../public/img/Welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out !important;
}

.right {
    transform: translateX(100%) !important;

}
.overlaypanel {
    transition: transform 1s ease-in-out !important;
}
.signpanel {
    transition: transform 1s ease-in-out !important;
}

.signIN-style {
    transform: translateX(32%);

    animation: opacity-change 0.5s ease-in-out forwards  !important;
}

.signUp-style {
    transform: translateX(-32%);
    animation: opacity-change 0.5s ease-in-out forwards  !important;
}

@keyframes opacity-change {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}